<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Cuenta</title>
    <link rel="stylesheet" href="../css/forms.css">
</head>
<body>
    <div class="background"></div>
    <main class="form-page">
        <div class="login-container">
            <section class="form-card">
                <img src="../assets/imagenes/logo.png" class="logo">
                <h2>Eliminar cuenta</h2>
                <p>Esta acción es irreversible. ¿Estás seguro?</p>
                <form>
                    <button class="btn">
                        Cancelar
                    </button>
                    <br><br>
                    <button class="btn-danger">
                        Eliminar cuenta
                    </button>
                </form>
            </section>
        </div>
    </main>
</body>
</html>
