<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/events.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>CaseHUB Eventos</title>
</head>
<body>
    <script src = "../js/menus_desplegables.js"></script>
    <script src = "../js/parts.js"></script>

    <div id="header"></div>
    <div class="background"></div>

    <main class="main-container">
        <section class="hero">
            <h1>¡Eventos en <span>CaseHUB</span>!</h1>
            <p>Eventos para creadores y usuarios.</p>
            <a href="events.html" class="btn-main">Eventos</a>
        </section>
    </main>

    <div class="event-container">
        <div class="event-card">
            <img src="../../assets/fundas/lyoppo.jpg" alt="Presentación OPPO">
            <h3>OPPO Reno 14 Series 5G</h3>
            <p>Consigue una firma de Lamine Yamal</p>
            <time>23 de abril 2026</time><br>
            <a href="evento1.html" class="ver-mas">Ver evento</a>
        </div>
        <div class="event-card">
            <img src="../../assets/fundas/OTW.jpg" alt="Michael Jackson">
            <h3>Disfruta de lo mejor de Michael Jackson</h3>
            <p>Sé el primero en escucharlo</p>
            <time>14 de marzo 2026</time><br>
            <a href="evento2.html" class="ver-mas">Ver evento</a>
        </div>
        <div class="event-card">
            <img src="../../assets/fundas/funda.jpg" alt="Funda ecológica">
            <h3>UAG Essential Armor</h3>
            <p>Lo mejor para proteger tu teléfono</p>
            <time>15 de marzo 2026</time><br>
            <a href="evento3.html" class="ver-mas">Ver evento</a>
        </div>
        <div class="event-card">
            <img src="../../assets/fundas/sakura_case.png" alt="Creatividad">
            <h3>Saca tu creatividad</h3>
            <p>¿Serás el ganador del sorteo?</p>
            <time>12–15 abril 2026</time><br>
            <a href="evento4.html" class="ver-mas">Ver evento</a>
        </div>
        <div class="event-card">
            <img src="../../assets/fundas/Designer.png" alt="Gaming">
            <h3>Torneo Gaming</h3>
            <p>Demuestra tu nivel</p>
            <time>14–15 mayo 2026</time><br>
            <a href="evento5.html" class="ver-mas">Ver evento</a>
        </div>
        <div class="event-card">
            <img src="../../assets/fundas/setup.jpg" alt="Setup">
            <h3>Monta tu setup perfecto</h3>
            <p>Para todo tipo de público</p>
            <time>2 de mayo 2026</time><br>
            <a href="evento6.html" class="ver-mas">Ver evento</a>
        </div>
        <div class="event-card">
            <img src="../../assets/fundas/ciberseguridad.jpg" alt="Ciberseguridad">
            <h3>Taller de Seguridad Digital</h3>
            <p>Protege tu móvil y tus datos</p>
            <time>3 de abril 2026</time><br>
            <a href="evento7.html" class="ver-mas">Ver evento</a>
        </div>
        <div class="event-card">
            <img src="../../assets/fundas/repa.png" alt="Reparación">
            <h3>Clínica del Móvil</h3>
            <p>Repara tu dispositivo móvil</p>
            <time>26 de abril 2026</time><br>
            <a href="evento8.html" class="ver-mas">Ver evento</a>
        </div>
    </div>  

    <div id="footer"></div>
</body>
</html>

