<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../../assets/imagenes/logo.png" alt="Logo CaseHUB">
        </div>
        <div class="footer-links">
            <h4>Enlaces</h4>
            <a href="#">Top Ventas</a>
            <a href="#">Servicios</a>
            <a href="events.html">Eventos</a></li>
            <a href="#">Premium</a>
        </div>
        <div class="footer-social">
            <h4>Redes</h4>
            <a><i class="bi bi-instagram"></i></a>
            <a><i class="bi bi-twitter-x"></i></a>
            <a><i class="bi bi-tiktok"></i></a>
        </div>
    </div>
    <div class="footer-copy">
        © 2026 CaseHUB. Todos los derechos reservados.
    </div>
</footer>