<header class="navbar">
    <nav class="nav-container">
        <a href="index.html" class="nav-logo">
            <img src="../../assets/imagenes/logo.png" alt="Logo CaseHUB">
        </a>
        <ul class="nav-links">
            <li><a href="index.html">TOP VENTAS</a></li>
            <li><a href="#">SERVICIOS</a></li>
            <li><a href="events.html">EVENTOS</a></li>
            <li><a href="#">PREMIUM</a></li>
        </ul>
        <ul class="nav-icons">
            <li><a href="cart.html"><i class="bi bi-cart"></i></a></li>
            <li class="user-menu" id="menu-item1">
                <a href="#"><i class="bi bi-person"></i></a>
                <ul id="submenu1" class="submenu">
                    <li><a href="login.html">INICIAR SESIÓN</a></li>
                    <li><a href="create_acount.html">REGISTRAR CUENTA</a></li>
                </ul>
            </li>
            <li class="mobile-menu" id="menu-item2">
                <a href="#"><i class="bi bi-list"></i></a>
                <ul id="submenu2" class="submenu">
                    <li><a href="index.html">TOP VENTAS</a></li>
                    <li><a href="#">SERVICIOS</a></li>
                    <li><a href="events.html">EVENTOS</a></li>
                    <li><a href="#">PREMIUM</a></li>
                    <li><a href="login.html">INICIAR SESIÓN</a></li>
                    <li><a href="create_acount.html">REGISTRAR CUENTA</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
