<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>CaseHUB</title>
</head>
<body>

<script src = "../js/menus_desplegables.js"></script>
<script src = "../js/carrusell_slider.js" ></script>
<script src = "../js/parts.js"></script>

<div id="header"></div>
<div class="background"></div>

<main class="main-container">
    <section class="hero">
        <h1>Bienvenido a <span>CaseHUB</span></h1>
        <p>Tu centro de fundas, accesorios y personalización premium.</p>
        <a href="#" class="btn-main">Top Ventas</a>
    </section>
</main>

<section style="height: 150px;"></section>

<section class="seccion-fondo">
    <section class="catalogo-slider">
        <h2><i class="bi-star" style="color:white"></i> Catalogo Destacado <i class="bi-star" style="color:white"></i></h2>
        <div class="slider-wrapper">
            <button class="slider-btn left" id="btn-left">
                <i class="bi bi-chevron-left"></i>
            </button>
            <div class="slider-container" id="slider">
                <div class="slide">
                    <img src="../assets/fundas/patriot_case.png" alt="Funda personalizada">
                    <h3>Funda Patriota</h3>
                    <p>Diseño Español.</p>
                </div>
                <div class="slide">
                    <img src="../assets/fundas/mi_amor.png" alt="Funda premium">
                    <h3>Funda del Presi Guapo</h3>
                    <p>Funda para el Presi mas guapo del Mundo.</p>
                </div>
                <div class="slide">
                    <img src="../assets/fundas/shark_case.png" alt="Funda resistente">
                    <h3>Funda Tiburon</h3>
                    <p>Ilustracion de Tiburon.</p>
                </div>
                <div class="slide">
                    <img src="../assets/fundas/black_case.png" alt="Funda extra">
                    <h3>Funda Minimalista</h3>
                    <p>Diseño limpio y elegante.</p>
                </div>
                <div class="slide">
                    <img src="../assets/fundas/sakura_case.png" alt="Funda extra 2">
                    <h3>Funda Artistica</h3>
                    <p>Ilustraciones brillantes.</p>
                </div>
                <div class="slide">
                    <img src="../assets/fundas/funda_nuclear.png" alt="Funda extra 2">
                    <h3>Funda Radioactiva</h3>
                    <p>Funda verde Nuclear.</p>
                </div>
                <div class="slide">
                    <img src="../assets/fundas/funda_java.png" alt="Funda extra 2">
                    <h3>Funda Java</h3>
                    <p>Aqui hemos venido a hacer Java joder. Akashdeep</p>
                </div>
                <div class="slide">
                    <img src="../assets/fundas/funda_victoriosa.png" alt="Funda extra 2">
                    <h3>Funda De la Victoria</h3>
                    <p>Celebracion por el 9 de Mayo.</p>
                </div>
            </div>
            <button class="slider-btn right" id="btn-right">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
        <a href="bestsellers.html" class="btn-main">Explorar</a>
    </section>
</section>

<section class="seccion-fondo">
    <section class="descripcion">
        <div class="descripcion-box">
            <h2><i class="bi-brush"></i> Diseña tu funda perfecta</h2>
            <p>
                En CaseHUB combinamos creatividad, protección y estilo.  
                Personaliza tu funda con tus fotos, ilustraciones o diseños favoritos  
                y recibe un acabado premium hecho especialmente para tu móvil.
            </p>
            <a href="bestsellers.html" class="btn-main">Empieza a diseñar</a>
        </div>
    </section>
</section>

<section style="height: 150px;"></section>
<div id="footer"></div>

</body>
</html>
