<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CaseHUB Login</title>
        <link rel="stylesheet" href="../css/forms.css">
    </head>
    <body>
        <div class="background"></div>
        <div class="login-container">
            <img src="../assets/imagenes/logo.png" alt="CaseHUB Logo" class="logo">
            <h2>Iniciar Sesión</h2>
            <form>
                <div class="input-group">
                    <label class="input-label">Correo electrónico</label>
                    <input type="text" required>
                </div>
                <div class="input-group">
                    <label class="input-label">Contraseña</label>
                    <input type="password" required>
                </div>
                <button type="submit" class="btn">Entrar</button>
                <p class="register">¿No tienes cuenta? <a href="index.html">Crear cuenta</a></p>
            </form>
        </div>
    </body>
</html>
