/* IMPORT  BS ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/*COLOR CLASES*/
:root {
    --blue-base: #025193;
    --blue-dark: #001421;
    --blue-gray: #475156;
    --blue-light-gray: #657C8C;
}

header {
    height: 150px;
    background-color: white;
    color: var(--blue-base);
    font-weight: bold;
    text-align: center;
    border-bottom: var(--blue-dark) solid 1px;
}

body {
    background-color: white;
    color: var(--blue-base);
    text-align: center;
}

footer {
    height: 100px;
    background-color: var(--blue-base);
    color: white;
    text-align: center;
}

section {
    background-color: white;
    color: var(--blue-base);
    text-align: center;
    padding: 20px;
}

.inverted-section {
    background-color: var(--blue-base);
    color: white;
    text-align: center;
    padding: 20px;
}

li {
    display: inline-block;
    padding: 10px;

}

li img {
    vertical-align: middle;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: var(--blue-base)
}

.logo-image {
    width: 120px;
    height: auto;
}

/* APPLY AT DISPLAYED CONTENT IN SUBMENU*/
.displayed-content {
    list-style: none;
    flex: auto;
    flex-direction: column;
    padding: 10px;
    min-width: 50px;
    background-color: white;
}

.submenu1,
.submenu2 {
    background-color: white;
    min-width: 50px;
    text-align: center;
    border: var(--blue-dark) solid 1px;
    padding-right: 30px;

}

/* BACKGROUND IMAGE*/
.index_background {
    background-image: url(../../assets/imagenes/box-cover-e-custodie.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    background-attachment: fixed;
}

/* FORMS */
.form {
    max-width: 400px;
    margin: 0 auto;
}