<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Main -->
    <link type="text/css" rel="stylesheet" href="../css/main.css">
    <!-- CSS Desktop2 -->
    <link type="text/css" rel="stylesheet" href="../css/phone.css" media="(max-width:1025px)">
    <!-- CSS Phones2 -->
    <link type="text/css" rel="stylesheet" href="../css/desktop.css" media="(min-width:1025px)">
    <!-- CSS Formularios -->
    <link type="text/css" rel="stylesheet" href="../css/formularios.css">
    <!-- BS Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>CaseHUB</title>
</head>
<body>
<header>
    <nav class="nav-pc">
        <div>
            <ul>
                <li><img src="../../assets/imagenes/logo_CaseHub.png" class="logo-image"></li>
                <li><a href="index.html">TOP VENTAS</a></li>
                <li><a href="#">SERVICIOS</a></li>
                <li><a href="events.html">EVENTOS</a></li>
                <li><a href="#">PREMIUM</a></li>
                <li><a href="insert_card.html"><i class="bi bi-cart"></i></a></li>
                <li id="menu-item1" class="menu-item1" style="position: relative;">
                    <a href="#" aria-label="Abrir menu de usuario"><i class="bi bi-person"></i></a>
                    <ul id="submenu1" class="submenu1" style="position:absolute;top:40px;left:-100px;">
                        <li class="displayed-content"><a href="login.html">INICIAR SESION</a></li>
                        <li class="displayed-content"><a href="create_account.html">REGISTRAR CUENTA</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="nav-phone">
        <div>
            <ul>
                <li id="menu-item2" class="menu-item2" style="position: relative;">
                    <a><i class="bi bi-list"></i></a>
                    <ul id="submenu2" class="submenu2" style="position:absolute;top:100px;left:-150px;">
                        <li class="displayed-content"><a href="index.html">TOP VENTAS</a></li>
                        <li class="displayed-content"><a href="#">SERVICIOS</a></li>
                        <li class="displayed-content"><a href="events.html">EVENTOS</a></li>
                        <li class="displayed-content"><a href="#">PREMIUM</a></li>
                        <li class="displayed-content"><a href="login.html">INICIAR SESION</a></li>
                        <li class="displayed-content"><a href="create_account.html">REGISTRAR CUENTA</a></li>
                    </ul>
                    <img src="../../assets/imagenes/logo_CaseHub.png" class="logo-image">
                </li>
                <li><a href="insert_card.html"><i class="bi bi-cart"></i></a></li>
            </ul>
        </div>
    </nav>
</header>
    <script src="../js/menus_desplegables.js"></script>
    <section class="form">
        <a class="return" href="index.html"><i class="bi bi-arrow-left-circle"></i> Volver al Inicio</a>
    </section>
    <section class="form">
        <div>
            <form action="#" method="post" autocomplete="on">
                <fieldset>
                    <legend><i class="bi bi-credit-card"></i> Datos Targeta de Credito </legend>
                    <br>
                    <div>
                        <!-- Numero de Targeta -->
                        <input type="text" name="card_number" placeholder="Numero de Targeta" required pattern="\d{16}" minlength="16"
                            maxlength="16" title="El Numero de Targeta debe contener 16 numeros">
                        <br><br>

                        <!-- Fecha de Caducidad -->
                        <input type="text" name="expiry_date" placeholder="Fecha de Caducidad MM/AA" required pattern="(0[1-9]|1[0-2])\/\d{2}" minlength="5"
                            maxlength="5" title="La Fecha de Caducidad debe tener el formato MM/AA">
                        <br><br>

                        <!-- CVV -->
                        <input type="password" name="cvv" placeholder="CVV" required pattern="\d{3}" minlength="3" maxlength="3"
                            title="El CVV debe contener 3 numeros">
                        <br><br>

                        <!-- Boton -->
                        <input type="checkbox" id="remember" name="remember_card">
                        <label for="remember">Recordar Targeta</label>
                        <br><br>

                        <button type="submit">Pagar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
<footer>
    <div class="footer-sitemap">
        <h3>Mapa Web</h3>
        <ul class="footer-links">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="events.html">Eventos</a></li>
            <li><a href="evento1.html">Evento actual</a></li>
            <li><a href="createEV.html">Crear evento</a></li>
            <li><a href="login.html">Iniciar sesion</a></li>
            <li><a href="../php/profile.php">Perfil</a></li>
        </ul>
        <p>2025 CaseHUB</p>
    </div>
</footer>

</body>

</html>
